html {
    font-size: 22px
}

table, tr, th, td, caption {
    border: 1px solid #000;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}